{
  "presets": [
    ["@babel/preset-env", { "shippedProposals": true, "loose": true }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    ["styled-components", { "ssr": false, "pure": true }]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
